.loading {
  display: none;
}
.scale125:hover {
  transform: scale(1.08);
  transition: all 0.2s;
}

.scale:hover {
  transform: scale(0.95);
  transition: all 0.2s;
}
input[type="number"] {
  appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-radius: 10px !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
